extends layout

block content
	.jumbotron
		h1	Sign in
		p We are using passports.js to demonstrate user authentication. Please sign in with your local, Twitter, Google or Facebook account to view your profile.
		P
			a.btn.btn-warning.btn-lg(href="#local", data-toggle="collapse",role="button")
				span.glyphicon.glyphicon-user
				|	Sign in locally
			a.btn.btn-info.btn-lg(href="/auth/Twitter", data-toggle="collapse",role="button")
				span.glyphicon.glyphicon-user
				|	Sign in with Twitter
			a.btn.btn-danger.btn-lg(href="/auth/google", data-toggle="collapse",role="button")
				span.glyphicon.glyphicon-user
				|	Sign in with Google
			a.btn.btn-primary.btn-lg(href="/auth/facebook", data-toggle="collapse",role="button")
				span.glyphicon.glyphicon-user
				|	Sign in with Facebook

		#local.collapse
			a.btn.btn-default-btn-md(role="button",data-toggle="collapse",href="#local-sign-in")
				|	I already have an account
			a.btn.btn-default-btn-md(role="button",data-toggle="collapse",href="#local-reg")
				|	I need to make an account

		form#local-sign-in.collapse(action="/login",method="post")
			div
				p
				label	Username:
				input(type="text",name="username")
			div
				label	Password:
				input(type="text",name="password")
			div
				input.btn.btn-primary.btn-sm(type="submit",value="Log In")

		form#local-reg.collapse(action="/local-reg",method="post")
			div
				p
				label	Username:
				input(type="text",name="username")
			div
				label	Password:
				input(type="text",name="password")
			div
				input.btn.btn-primary.btn-sm(type="submit",value="Register")